body{
  background-image: url(immagini/background.jpg);
  background-size: 100%;
  background-repeat: no-repeat}

.background {
position: absolute;
z-index: 1;
width: 80%;
height: 90%;
background-color: black;
opacity: 50%;
filter: alpha(opacity=90);
margin-left: 10%;
margin-right: 10%;
margin-top: 2em;
border-radius: 15px;
margin-bottom: 20px;
}
header{
  z-index: 2;
  width: 80%;
  position: absolute;
  display: block;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 40px;
  text-align: center;

  }
#imm-logo{width: 300px;height: auto;}
.presentazione{
  font-family: Arial, sans-serif;
  font-size: 15px;
  color:#00dd00;
  text-align: center;
}
.navigazione{
  text-align: center;
  background-color:#00dd00;
  width: 80%;
  height: 30px;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 15px;
  padding: 10px;
  border-radius: 5px;
}
.button {
  background-color: white;
  border: blak;
  border-radius: 5px;
  color: black;
  padding: 5px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
}
main {
  z-index: 2;
  position: absolute;
  width: 60%;
  height: auto;
  margin-right: 20%;
  margin-top:350px;
}
.tipo-monopattino{

 width: 80%
 margin-left: 10%;
 margin-right: 10%;
 margin-top: 10px;
 color:white;
}
.nome-monopattino{
  font-family: Arial, sans-serif;
  font-size: 20px;
 }
  .dove:before{
  content: " \27FC  ";
  }
  .dove:after{
    content: " - "
  }
#Gino77{
width:100px;
height: 1.5em;
border-radius: 5px;
background-color: red;
border-color: black;
border-width:medium;
}
#Mike27{
height: 1.5em;
border-radius: 5px;
width: 300px;
background-color: Yellow;
}
#Fede54{
height: 1.5em;
border-radius: 5px;
width: 250px;
background-color: orange;
}
